.App {
  margin: 20px;
  position: relative;
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
  max-width: 800px;
  margin: 25px auto;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}
body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  color: #383737;
}
h1 {
  color: #383737;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-top: 15px;
  margin-bottom: 0;
}
h2 {
  color: #383737;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 45px;
}
h3 {
  color: #383737;
  font-size: 14px;
  font-weight: 200;
  line-height: 28px;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  color: #dadde1;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
footer {
  color: #dadde1;
  margin-left: 500px;
}
div .weather-details {
  color: #383737;
  font-weight: 100;
  margin-top: 40px;
  margin-bottom: 40px;
}
img {
  height: 80px;
  width: 80px;
  font-size: 44px;
  margin-bottom: 0px;
}
